<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Post from <%= @userfirstName %> <%= @userlastName %></h1>
    <h3>Comments : </h3>
    <p>
     <%= @comments %>
    </p>
  </body>
</html>