<div id="wrapper">
<%= render partial: "/layouts/header" %>

<div id="main-content-wrapper">
	<div class="browser-center">
		<div id="left-content-area" style="width:100%">
			<h1><%= @title %></h1>
			<br />
			<%= @content %>
		</div>
	</div>
</div>

<%= render partial: "/layouts/footer" %>
</div>
