/* TR overrides */
.ui-spinner .ui-icon-triangle-1-s {
	/* need to fix icons sprite */
	background-position: -65px -16px;
}
.ui-tabs {
	position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
	padding: 5px;
	width: 982px;
	float: left;
}
.tab-con .ui-widget-content{ background:none!important; border:0!important}
.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: 0 !important;
	background: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0;
}
.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	margin: 1px .2em 0 0;
	border-bottom-width: 0;
	padding: 0;
	white-space: nowrap;
	background: #145fba;
	color:#ffffff;
	
}
.ui-tabs .ui-tabs-nav li a {
	float: left;
	padding: .5em 1em;
	text-decoration: none;
	font-weight: normal;
	color: #ffffff !important;
}
a:active, a:focus{
	
	outline: none;
	
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	margin-bottom: -1px;
	padding-bottom: 1px;
	background: #ffffff;
	font-weight: normal;
	color: #ffffff;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
	cursor: text;
	color:#212121 !important;
}
.ui-tabs .ui-tabs-nav li a, /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
	cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	background: #ffffff !important;
	width: 960px;
	color: #222222;
	font-family: arial;
    font-size: 14px;
    border : 1;
    padding:10px;
    float:left;
    border-left:1px solid #aaaaaa !important;
    border-right:1px solid #aaaaaa !important;
    /*border-bottom:1px solid #aaaaaa !important;*/
    
    
}


.ui-tabs .ui-tabs-panel h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-weight: normal;
	margin: 5px 0;
}

.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
}